<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>
		<img src="{{url_for('static', filename='images/robot.jpg')}}" align="middle">
		<h1>ML APP to Detect Spam from youtube comments</h1>
		<div class="ml-container">
			<form action="{{ url_for('predict')}}" method="POST">
				<p>Enter Your Comment Here</p>
				<!-- <input type="text" name="comment"/> -->
				<textarea name="comment" rows="4" cols="50"></textarea>
				<br/>
				<input type="submit" class="btn-info" value="Predict">
			</form>
		</div>
	
	</body>
</html>
